<div class="container">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <app-add-product class="passing-data"></app-add-product>
        <img [src]="product.image" class="card-img-top" alt="...">
      </div>
    
      <div class="col order-1">
  
      <h5 class="card-title"><strong>{{product.name}}<span></span>-R{{product.price}}</strong></h5>
      <p class="card-text">{{product.title}}</p>
      <h5><strong>Ingredients</strong></h5>
      <p class="card-text">{{product.ingredients}}</p>
      <h5><strong>Allergens</strong></h5>
      <p class="card-text">{{product.allergens}}</p>


     <p></p>

      
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="menu" class="btn">back</a>
          </div>
        
          <div class="col order-1">
            <a href="" class="btn">add to cart</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
