<section class="first_sec">
  <div class="container">
    <h1 class="text-center"> <span class="highlight"> Tasty Mealz Joint</span> </h1>
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5c041aa04a55c5a0e7ed">
      <div class="sqs-block-content">
        <h4 style="text-align:center;white-space:pre-wrap;">Ithani Cesibe is a South African-raised, International-based chef,  author, restaurateur, social entrepreneur &amp; culinary ambassador. She welcomes you to her table. where eating and sharing food is an act of love— for yourself, your family, your community, and for the environment.</h4>
      </div>
      <br>
      <h3 style="text-align:center;white-space:pre-wrap; color: black;">Our Mission</h3>
      <h3 style="text-align:center;white-space:pre-wrap; color: var(--primary-color);"><strong> To promote diverse, healthy, conscious food culture</strong></h3>
  </div>
</div>

</section>
<section class=" second_sec">
    <div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.postimg.cc/7YD7fhRQ/shrimpskewers.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.teahub.io/photos/full/51-511039_fresh-drink-picture-high-resolution-cocktail-images-hd.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/77/3e/8f/773e8fc984631960959bdc3fbb213bd0.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
</section>
<br>
<div class="container">
<hr style=" width:100%;text-align:center;margin-left:0">
</div>

<section class="third_section">
<div class="container">
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1576626982256_14764">
        <div class="sqs-block-content">
          <div class="zerofood">
            <img  src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1609787073062-88E5P38MXHSFU0DQC333/ZeroFoodprint.logo.2020_Deep_Cyan.png?format=300w" alt="">
          </div>
          <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1609787000922_31845">
            <div class="sqs-block-content">
              <h6 style="text-align:center;white-space:pre-wrap;">we are a proud member of <a href="https://www.zerofoodprint.org/" target="_blank">Zero Foodprint</a> </h6>
              <p style="text-align:center;white-space:pre-wrap;" class="">A 1% ZFP Restore the Planet fee is added to your bill to help restore the planet and combat climate change. You can opt out of this fee if you’d like - just let us know when you place your order.</p>
         </div></div>
          
            
            
           
            
          </div>
</div>
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center">How to get <span class="highlight">fresh food</span> </h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>1</h1>
            <p>select food</p>
        </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>2</h1>
            <p>fill the details</p>
        </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>3</h1>
            <p>your order will be with you soon</p>
        </div>
        </div>

    </div>
</div>
</section>

    
 
